<div id="copy-tuner-bar" style="display:none">
  <a href="javascript:void(0)" class="copy-tuner-bar-open-log">All translations</a>
</div>
<div id="copy-tuner-bar-log-menu" style="display:none">
  <table>
    <tbody id="copy-tuner-bar-log-menu__tbody">
    </tbody>
  </table>
</div>
