<div id="copy-tuner-bar" style="display:none">
  <%= link_to 'CopyTuner', CopyTunerClient.configuration.project_url, class: 'copy-tuner-bar-button', target: '_blank' %>
  <a href="/copytuner" target="_blank" class="copy-tuner-bar-button">Sync</a>
  <a href="javascript:void(0)" class="copy-tuner-bar-open-log copy-tuner-bar-button js-copy-tuner-bar-open-log">Translations in this page</a>
  <input type="text" class="copy-tuner-bar__search js-copy-tuner-bar-search" placeholder="search">
</div>
<div id="copy-tuner-bar-log-menu" class="js-copy-tuner-bar-log-menu" style="display:none">
  <table>
    <tbody id="copy-tuner-bar-log-menu__tbody" class="js-copy-tuner-bar-log-menu__tbody is-not-initialized">
    </tbody>
  </table>
</div>
